
html, body{
  padding: 0px;
  margin: 0px;
  background-color: #e1e0e0;
  font-family: Helvetica;
  color: #3d3d3d;
}

body{
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

header {
  box-shadow: 0 2px 0 0 rgba(169, 169, 169, 0.5);
  background-color: #ffffff;
  padding: 6px 9px;
  height: 43px;
}

header h1 {
  margin: 0px;
  line-height: 43px;
  font-size: 36px;
  font-weight: bold;

}

.list{
  padding: 12px 9px;
}

.list .listaAlunos{
  margin: 0px;
  font-size: 16px;
  height: 19px;
}

.card {
  margin-top: 11px; 
  min-height: 48px;
  border-radius: 4px;
  box-shadow: 2px 1px 6px -1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 6px 11px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  }


.photo{
  width: 47px;
  height: 47px;
  box-shadow: 0px 0px 3px #ccc;
  border-radius: 50%;
  overflow: hidden;
}
.photo img{
  width: 100%;
}

.card .content {
  margin: 5px;
  margin-left: 15px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.card .content .title{
  height: 22px;  
  font-size: 18px;
  font-weight: bold;
}

.card .content .subtitle{
  height: 13px;
  font-size: 11px;
  font-weight: 300;
}

@media screen and (max-width: 305px){
  .card{
    justify-content: center;
  }
  .card .content{
    text-align: center;
    align-items: center;
  }
}