
html, body{
  padding: 0px;
  margin: 0px;
  background-color: #e1e0e0;
  font-family: Helvetica;
  color: #3d3d3d;
}
body{
  min-width: 300px;
  display: flex;
  flex-direction: column;
  
}

header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  box-shadow: 0 2px 0 0 rgba(169, 169, 169, 0.5);
  background-color: #ffffff;
  padding: 10px 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  
}

header h1 {
  
  margin: 0px;
  margin-left: 30px;
  line-height: 50px;
  font-size: 36px;
  font-weight: bold;
}
header .menu{
  margin-right: 30px;
}
header .menu i{
  margin: 0px;
  font-size: 36px;
}

.feed{
  position: relative;
  top:60px;
  padding: 12px 9px;
  
}
.feed .box{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 60px ;
  padding: 6px 11px;
  background-color: #fff;
  border-radius: 4px;
  flex-wrap: wrap;
    
}
.feed .box .info-head{
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  margin: 0;
  flex-direction: row;
  align-content: flex-start ;
  border-bottom: solid 1px #e1e0e0;
  padding: 5px 20px; 
}

.feed .box .info-head .avatar{
  flex: 1;
 padding-left: 25px;
  overflow: hidden;
  padding-top: 6px;
  
}
.box .info-head .avatar img{
 
  width: 47px;
  height: 47px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #ccc;
}

.box .info-head .info {
  flex: 2;
  margin: 5px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
   
}


.info-head .info .username{
  
  height: 25px;  
  font-size: 18px;
  font-weight: bold;

}

.info-head .info .date{
  margin-top: 15px;
  height: 13px;
  font-size: 11px;
  font-weight: 300;
}

.box .post{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 20px;
  flex: 4;
  border-bottom: solid 1px #e1e0e0;

}

.box .react{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.box .react span{
  margin-left: 20px;
}

.box .react button{
  align-items: baseline;
  margin-right: 20px;
  background: #fff;
  border: none;
  
}

.btns{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 2px 0 0 rgba(169, 169, 169, 0.5);
  background-color: #ffffff;
  padding: 10px 10px;
  height: 50px;
  display: flex;
   
}
.btns span{
flex: 1;
  justify-content: space-around;
  margin-left: 30px;
  
}
.btns span i{
  width: 24px;
  height: 24px;
  font-size: 32px;
  
}